html {
  font-family: "Open Sans", sans-serif;
  background-color: lightgrey;
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

h2 {
  text-align: center;
}

li {
  display: flex;
  flex-direction: row;
  padding: .5rem 1rem .6rem 2rem;
}

li img {
  width: 5rem;
}

li hgroup {
  width: 16rem;
  padding: .5rem 1rem .6rem 2rem;
}

li a {
  width: 16rem;
  padding: .5rem 1rem .6rem 2rem;
}

li p {
  width: 25rem;
  padding: .5rem 1rem .6rem 2rem;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}
