html {
  font-family: "Open Sans", sans-serif;
  background-color: lightgrey;
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

h2 {
  text-align: center;
}

li {
  display: flex;
  flex-direction: row;
  margin: 1.5rem;
}

li img {
  width: 5rem;
}

li hgroup {
  width: 16rem;
  padding: 2rem;
}

li a {
  width: 16rem;
  padding: 2rem;
  align-items: center;
}

li p {
  width: 25rem;
  padding: 2rem;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

a {
    background-color: #444;
    padding: .5rem 1rem .6rem;
    text-decoration: none;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}
