html {
  font-family: "Open Sans", sans-serif;
  background-color: #ccc;
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

section ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

h2 {
  text-align: center;
}

li {
  display: flex;
  flex-direction: row;
  margin: 1.5rem;
  justify-content: center;
}

li img {
  width: 5rem;
}

li hgroup {
  width: 16rem;
  padding: 2rem;
}

li a {
  margin: auto 0;
  padding: .5rem 1rem .6rem;
  text-align: center;
  background-color: #444;
}

li p {
  width: 25rem;
  margin: 1.5rem;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}
